version: "3.9"

services:
  backend:
    build: ./backend
    container_name: pathik-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: pathik-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  db:
    image: postgres:14
    container_name: pathik-db
    environment:
      POSTGRES_DB: campaigns
      POSTGRES_USER: campaign_user
      POSTGRES_PASSWORD: password
    # ports:
    #   - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
